<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Главная страница</title>

		<style>
			.p-limited {
				display: -webkit-box;
				-webkit-line-clamp: 3; /* число строк */
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		</style>
		
		<!-- Favicon -->
        <link rel="icon" href="/img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="/css/nice-select.css">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="/css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="/css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="/css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="/css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="/contact">О нас</a></li>
								<li><a href="/doctors">Доктора</a></li>
								<li><a href="/contact">Контакты</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+996(500)-100-200</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:hospitalmedipluskg@gmail.com">hospitalmedipluskg@gmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/"><img src="/img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="/">Главная </a></li>
											<li><a href="/doctors">Доктора </a></li>
											<li><a href="/blogs">Статьи </a></li>
											<li><a href="/contact">Связаться с нами</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<p>
										<a href="/record" class="btn">Записаться на прием</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/img/slider2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Мы предостовляем <span>Медицинские</span> Услуги Спасибо, что <span>доверяете нам!</span></h1>
									<div class="button">
										<a href="/record" class="btn">Записаться на прием</a>
										<a href="#uslugi" class="btn primary">Узнать больше</a>
									</div>
								</div>
								</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/img/slider.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Мы предостовляем <span>Медицинские</span> Услуги Спасибо, что <span>доверяете нам!</span></h1>
									<div class="button">
										<a href="/record" class="btn">Записаться на прием</a>
										<a href="#uslugi" class="btn primary">О нас</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/img/slider3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Мы предостовляем <span>Медицинские</span> Услуги Спасибо, что <span>доверяете нам!</span></h1>
									<div class="button">
										<a href="/record" class="btn">Записаться на прием</a>
										<a href="#uslugi" class="btn primary">Связаться с нами</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<h4>Список услуг</h4>
										<p>Общая медицина - Предоставление широкого спектра услуг первичной медицинской помощи.
										</p>
										<a href="#bottom-section">УЗНАТЬ БОЛЬШЕ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<h4>Список специалистов</h4>
										<p>Предварительная Запись - Пациенты могут записаться на приём к врачу заранее через наш онлайн портал или по телефону.</p>
										<a href="/doctors">УЗНАТЬ БОЛЬШЕ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<h4>Время работы</h4>
										<ul class="time-sidual">
											<li class="day">Понидельник - Пятница <span>8.00-20.00</span></li>
											<li class="day">Суббота <span>9.00-18.30</span></li>
											<li class="day">Воскресенье <span>9.00-15.00</span></li>
										</ul>
										<a href="#">УЗНАТЬ БОЛЬШЕ<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Мы всегда готовы помочь вам И Вашей семье</h2>
							<img src="/img/section-img.png" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-ambulance-cross"></i>
							</div>
							<h3>Скорая помощь</h3>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-medical-sign-alt"></i>
							</div>
							<h3>Лучшие лекарства</h3>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-stethoscope"></i>
							</div>
							<h3>Медицинский уход</h3>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
		<!-- Start Why choose -->
		<section class="why-choose section" id="uslugi">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Мы Предлагаем Различные Услуги Для Улучшения Вашего Здоровья</h2>
							<img src="/img/section-img.png" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>Кто же мы?</h3>
							<p>MEDIPLUSE - представляет собой современное медицинское учреждение, оборудованное по последнему слову техники и объединяющее специалистов высокой квалификации. Мы предлагаем широкий спектр медицинских услуг, от первичной диагностики до сложных операций. </p>
							<p>Наша миссия — предоставлять качественную и доступную медицинскую помощь, используя инновационные методы лечения и индивидуальный подход к каждому пациенту. </p>

						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<!-- Video Animation -->
								<div class="promo-video">
									<div class="waves-block">
										<div class="waves wave-1"></div>
										<div class="waves wave-2"></div>
										<div class="waves wave-3"></div>
									</div>
								</div>
								<!--/ End Video Animation -->
								<a href="https://www.youtube.com/watch?v=hKao2Ac_Flw" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Вам нужна медицинская помощь? Позвоните нам +996(500)-100-200</h2>
							<br>
							<div class="button">
								<a href="/contact" class="btn">Связаться сейчас</a>
								<a href="#uslugi" class="btn second">Узнать больше<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		<!-- Start service -->
		<section class="services section" id="bottom-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Мы Предлагаем Различные Услуги Для Улучшения Вашего Здоровья</h2>
							<img src="/img/section-img.png" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-prescription"></i>
							<h4><a href="service-details.html">Общее лечение</a></h4>
							<p>Наша клиника предоставляет комплексные услуги общей медицины для диагностики и лечения широкого спектра заболеваний.</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-tooth"></i>
							<h4><a href="service-details.html">Отбеливание зубов</a></h4>
							<p>Наша клиника предлагает профессиональное отбеливание зубов с использованием передовых технологий и безопасных материалов </p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-heart-alt"></i>
							<h4><a href="service-details.html">Лечение сердечных заболеваний</a></h4>
							<p> Мы предлагаем индивидуализированные программы лечения, которые включают современные медикаментозные методы, процедуры кардиореабилитации и при необходимости хирургическое вмешательство. </p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-listening"></i>
							<h4><a href="service-details.html">Проблемы со слухом</a></h4>
							<p>Мы используем передовое оборудование для точной оценки слуха и определения наилучшего курса лечения. </p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-eye-alt"></i>
							<h4><a href="service-details.html">Проблемы со зрением</a></h4>
							<p> Мы обеспечиваем профессиональную помощь в коррекции зрения, лечении катаракты, глаукомы, диабетической ретинопатии и других заболеваний глаз. </p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-blood"></i>
							<h4><a href="service-details.html">Переливание крови</a></h4>
							<p> Наша клиника оснащена всем необходимым для проведения безопасных процедур переливания крови. </p>
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		<!-- Start Blog Area -->
		<section class="blog section" id="blog">
			<div class="container">
				<div class="row">
					<div class="section-title">
						<h2>Следите за нашими последними медицинскими новостями.</h2>
						<img src="/img/section-img.png" alt="#">
					</div>
					<div class="col-lg-4 col-md-6 col-12" th:each="item : ${blogPosts}">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img th:src="@{/img/article/{imageName}(imageName=${item.photoUrl})}" alt="#"> <!-- Возможно, вам потребуется динамически изменять изображения в зависимости от статьи -->
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date" th:text="${item.postDate}"></div>
									<h2>
										<a th:href="@{/article/{id}(id=${item.id})}" th:text="${item.title}">We have annnocuced our new product.</a>
									</h2>
									<div class="p-limited">
										<p class="text p-limited" th:text="${item.content}">content</p>
									</div>

								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>

			</div>
		</section>
		<!-- End Blog Area -->
		
		<!-- Start Newsletter Area -->
		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Подписаться на рассылку</h6>
							<p class="">Получайте первым наши полезные статьи о медицине</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Электронная почта" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Электронная почта'" required="" type="email">
								<button class="btn">Подписаться</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>О нас</h2>
								<p>MEDIPLUSE - представляет собой современное медицинское учреждение, оборудованное по последнему слову техники и объединяющее специалистов высокой квалификации. Мы предлагаем широкий спектр медицинских услуг, от первичной диагностики до сложных операций.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-instagram"></i></a></li>
									<li><a href="#"><i class="icofont-telegram"></i></a></li>
									<li><a href="#"><i class="icofont-whatsapp"></i></a></li>
									<li><a href="#"><i class="icofont-email"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Ссылки</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>На главную</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>О нас</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Статьи</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Врачи</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Консультация</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Отзывы</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Связаться с нами</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Рабочее время</h2>
								<p>Вы работаем без выходных и всегда готовы вам помочь</p>
								<ul class="time-sidual">
									<li class="day">Понидельник - Пятница <span>8.00-20.00</span></li>
									<li class="day">Субота <span>9.00-18.30</span></li>
									<li class="day">Воскресенье <span>9.00-15.00</span></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Новости</h2>
								<p>Подпишитесь на нашу рассылку, чтобы получать все новости на свою электронную почту</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="Электронный адрес" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Ваш электронный адрес'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Разработчик Тургумбеков Т. Н. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="/js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="/js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="/js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="/js/easing.js"></script>
		<!-- Color JS -->
		<script src="/js/colors.js"></script>
		<!-- Popper JS -->
		<script src="js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="/js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="/js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="/js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="/js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="/js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="/js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="/js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="/js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="/js/steller.js"></script>
		<!-- Wow JS -->
		<script src="/js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="/js/main.js"></script>
    </body>
</html>